h1{
  font-size: 50px;
  text-align:center;
  padding: 5px;
  background-color: cornflowerblue;
}

.addes{
  color:white;
  padding:20px;
  background-color: dimgray;
}

.problem{
  font-size:25px;
  padding: 10px;
  margin:5px;
  background-color: lightskyblue;
}

body{font-family:'Poor Story', serif;}
body{font-size:20px;}
